body {
  background-color: #bd8c1a;
  height: 100%;
}

.lma_header{
  font-family: Brush Script MT, cursive;
  color: white;
  font-size: 50px;
  text-align: center;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}
.form-label{
  padding: 10px;
}

.contact-form{
  background-color: gray;
}

.col{
  justify-content: center;

}

.beekeepinglinkswrapper{
  text-align: left;
}

.beekeepinglinkstitle{
  text-align: center;
}
  
.borders { 
  border: 1px solid;
  
}